@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#wrapper {
    display: flex;
    background: #F4F4F4;
}

#header {
  display: flex;

  width: 100%;
  height: 4rem; /* 64px */

  background: #FFFFFF;
  border: 0.063rem solid #EEEEEE; /* 1px */
}

.main_title {
    margin-top: 1.438rem; /* 23px */
    margin-left: 1.75rem; /* 28px */

    padding-right: 1.813rem; /* 29px */
    border-right: 0.063rem solid #EEEEEE; /* 1px */

    font: bold 0.875rem/1.25rem Source Sans Pro; /* 14px/20px */
    letter-spacing: 0.175rem; /* 2.8px */
    color: #3C3B3B;
    text-transform: uppercase;
}

.links {
    margin-top: 1.438rem; /* 23px */

    font: normal 0.875rem/1.25rem Source Sans Pro; /* 14px/20px */
    letter-spacing: 0.263rem;  /* 4.2px */
    color: #828282;
    text-transform: uppercase;
}

.links_item {
    margin-left: 3rem; /* 48px */
    border-right: 0.063rem solid #EEEEEE; /* 1px */

    
    padding-right: 1.313rem; /* 21px */
}

.main {
    margin-top: 1.438rem; /* 23px */
    margin-left: 45rem;

    border: 0.063rem solid #EEEEEE; /* 1px */

    padding-left: 1.313rem; /* 21px */
    padding-right: 1.313rem; /* 21px */
    padding-bottom: 1.313rem; /* 21px */

    padding-top: 0.313rem; /* 21px */
}

.post {
    background: #FFFFFF;
    border: 0.063rem solid #EEEEEE; /* 1px */

    margin-bottom: 2.875rem; /* 46px */
    margin-top: 2.875rem; /* 46px */

    margin-left: 12.813rem;
}

.header {
    background: #FFFFFF;
    border: 0.063rem solid #EEEEEE; /* 1px */
    padding-top: 4.375rem; /* 70px */
    padding-left: 3.5rem; /* 56px */
    margin-bottom: 3.75rem; /* 60px */
}

.secondary_title {
    font: normal 900 1.75rem/2.875rem Source Sans Pro; /* 28px/46px */
    letter-spacing: 0.578rem; /* 9.24px */
    color: #3C3B3B;
    text-transform: uppercase;
}

.paragraph {
    margin-top: 1.563rem; /* 25px */
    font: normal 0.875rem/1.25rem Source Sans Pro; /* 14px/20px */
    letter-spacing: 0.245rem; /* 3.92px */
    color: #8E8E8E;
    text-transform: uppercase;
}

.meta {
    width: 11.813rem; /* 189px */
    height: 5.063rem; /* 81px */

    margin-left: 43.75rem; /* 700px */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.published {
    font: normal 900 0.875rem/1.25rem Source Sans Pro; /* 14px/20px */
    letter-spacing: 0.105rem; /* 1.68px */
    color: #3C3B3B;
    text-transform: uppercase;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.938rem; /* 15px */
}

.name {
    margin-right: 0.625rem; /* 10px */
    color: #8E8E8E;
    text-decoration: underline;
    text-transform: uppercase;
    font: normal 1rem/1.875rem Source Sans Pro; /* 16px/30px */
    letter-spacing: 0.08rem; /* 1.28px */
}

.avatar, .sidebar_avatar {
    border-radius: 50%;
}

.image_featured {
    display: flex;
    justify-content: center;
    margin-left: 3.125rem; /* 50px */
    margin-bottom: 3.75rem; /* 60px */
}

.second_paragraph {
    margin-left: 3.438rem; /* 55px */
    margin-bottom: 3rem; /* 48px */
    width: 58.25rem; /* 932px */

    text-align: left;
    font: normal 1rem/1.875rem Source Sans Pro; /* 16px/30px */
    letter-spacing: 0.08rem; /* 1.28px */
    color: #3C3B3B;
}

.actions, .disabled_button_large_previous, .button_large_next, .about_actions {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.563rem; /* 57px */
    margin-left: 3.438rem; /* 55px */

    width: 15.875rem; /* 254px */
    height: 3.875rem; /* 62px */
    background: #FFFFFF;
    border: 0.063rem solid #EEEEEE; /* 1px */

    font: bold 0.875rem/1.25rem Source Sans Pro; /* 14px/20px */
    letter-spacing: 0.245rem; /* 3.92px */
    color: #3C3B3B;
    text-transform: uppercase;
}

.actions_pagination {
    display: flex;
    margin-left: 9.375rem; /* 150px */
}

.disabled_button_large_previous {
    background: #F4F4F4;
    border: 0.063rem solid #E1E1E1; /* 1px */
}

.mini-posts {
    display: flex;
    flex-wrap: wrap;
    width: 25.625rem; /* 410px */
    
    margin-top: 2.875rem; /* 46px */
}

.mini-post {
    margin-left: 3.625rem; /* 58px */

    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;

    background: #FFFFFF;
    border: 0.063rem solid #EEEEEE; /* 1px */
    margin-bottom: 2.5rem; /* 40px */
}

.sidebar_header {
    display: flex;
    flex-direction: column;

    padding-left: 1.25rem; /* 20px */
    padding-top: 0.625rem; /* 10px */

    font: normal 600 0.875rem/1rem Source Sans Pro; /* 14px/16px*/
    letter-spacing: 0.245rem; /* 3.92px */
    color: #3C3B3B;
    text-transform: uppercase;
}

.sidebar_published {
    font: normal 0.75rem/1.25rem Source Sans Pro; /* 12px/20px */
    letter-spacing: 0.09rem; /* 1.44px */
    color: #808080;
    margin-top: 0.5rem; /* 8px */
}

.image {
    width: 100%;
}

.posts {
    margin-left: 3.625rem; /* 58px */

    display: flex;
    flex-wrap: wrap;
    width: 25.625rem; /* 410px */
}

.posts-wrapper {
    border-bottom: 0.063rem dashed #DBDBDB; /* 1px */

    padding-bottom: 2.063rem; /* 33px */
    padding-top: 2.063rem; /* 33px */
}

.posts_header {
    display: flex;
    flex-wrap: wrap;
    height: 0.625rem; /* 10px */
    margin-left: 5.938rem; /* 95px */

    padding-top: 0.625rem; /* 10px */
}

.tertiary_title {
    width: 18.625rem; /* 298px */
    height: 2.5rem; /* 40px */

    font: bold 0.875rem/1.25rem Source Sans Pro; /* 14px/20px */
    letter-spacing: 0.21rem; /* 3.36px */
    color: #3C3B3B;
    text-transform: uppercase;
}

.posts_published {
    font: normal 0.75rem/1.25rem Source Sans Pro; /* 12px/20px*/
    letter-spacing: 0.09rem; /* 1.44px */
    color: #808080;
    text-transform: uppercase;
}

.posts-image {
    height: 5rem; /* 80px */
}

.blurb {
    left: 12.75rem; /* 204px */
    width: 24.125rem; /* 386px */
    height: 15.375rem; /* 246px */

    margin-top: 40.5px; /* 40.5px */
    margin-left: 58px; /* 58px */
}

.about_paragraph {
    font: normal 400 1rem/1.875rem Source Sans Pro; /* 16px/30px */
    color: #808080;
    margin-bottom: 1.438rem; /* 23px */
}

.about_actions {
    width: 11.5rem; /* 184px */
    background: #F4F4F4;
    border: 0.063rem solid #E1E1E1; /* 1px */
}


/* Responsividade: Notebook */

@media (max-width: 1400px) {
    #header {
        width: 1310px; /* 820px */
    }

    .post {
        margin-left: 60px;
        width: 780px;
    }

    .main_title {
        margin-top: 10px;
    }

    .links-container {
        margin-top: 0px;
        width: 800px;
    }

    .main {
        margin-left: 17%;
    }

    .meta {
        margin-left: 500px;
        margin-top: 10px;
    }

    .image_featured {
        width: 680px;
    }

    .second_paragraph {
        width: 680px;
    }

    .actions_pagination {
        margin-left: 0;
    }

    .posts-wrapper {
        width: 400px;
    }

    .about_actions {
        margin-left: 0;
    }
}


/* Responsividade: iPad Air */

@media (max-width: 850px) {
    #header {
        width: 51.25rem; /* 820px */
    }

    #wrapper {
        display: flex;
        flex-direction: column;
    }

    .main_title {     
        border: none;
        margin-top: 0.625rem; /* 10px */
    }

    .links-container {
        width: 25rem; /* 400px */
    }

    .links_item {
        visibility: hidden;
    }

    .header {
        text-align: center;
    }

    .meta {
        margin-left: 31.25rem; /* 500px */
        margin-top: 2.313rem; /* 37px */
    }

    .post {
        width: 50rem; /* 768px */
        margin-left: 0;
    }

    .image_featured {
        width: 95%;
        margin-left: 3%;
    }

    .actions {
        margin-left: 1.875rem; /* 30px */
    }

    .second_paragraph {
        width: 48rem; /* 768px */
        margin-left: 2.094rem; /* 33.5px */
    }

    .actions_pagination {
        margin-left: 4.688rem; /* 75px */
        margin-bottom: 0;
    }

    .posts-wrapper {
        width: 24rem;

    }

    .mini-posts, .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blurb {
        margin-bottom: 5.625rem; /* 90px */
    }

    .about_actions {
        margin-left: 0;
    }
}

/* Responsividade: iPad/ iPad Air/ iPad Mini */

@media (max-width: 800px) {
    #header {
        width: 48rem; /* 770px */
    }

    .post {
        width: 47.5rem; /* 760px */
        margin-left: 0;
    }

    .second_paragraph {
        width: 46.3rem;
        margin-left: 1rem; /* 33.5px */
    }
    
    .mini-posts, .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .mini-post {
        margin-left: 2.5rem; /* 40px */
        gap: 1.875rem; /* 30px */
    }

    .posts-wrapper {
        padding-left: 2.5rem; /* 40px */
    }
}

@media (max-width: 400px) {
    #header {
        width: 23.125rem; /* 370px */
    }

    .links-container {
        width: 6.25rem; /* 100px */
    }

    .main {
        margin-left: 0;
    }

    .paragraph {
        width: 14.688rem; /* 235px */
        text-align: center;
        margin-left: 4.375rem; /* 70px */
    }

    .meta {
        margin-left: 4.375rem;
        width: 14.688rem; /* 235px */
    }

    .post {
        width: 23.438rem; /* 768px */
        margin-left: 0;
    }

    .header {
        width: 23.438rem; /* 375px */
        width: 375px;
        padding-left: 0;
        text-align: center;
    }

    .second_paragraph {
        width: 21.375rem; /* 342px */
    }

    .actions {
        margin-left: 3.125rem; /* 50px */
    }

    #sidebar {
        margin-left: -30px;
    }

    .actions_pagination, .mini-posts, .posts {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .mini-posts {
        width: 24.688rem; /* 395px */
        margin-right: 0;
    }

    .mini-post {
        margin-right: 0px;
    }

    .blurb {
        width: 21rem;
    }

    .about_paragraph {
        width: 21rem;
        margin-left: 0;
    }
}